:root {
  --black: #1B1B1B;
  --darkgrey: #B8B8B8;
  --grey: #F2F1F0;
  --yellow: #F2BE3F;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  color: var(--black);
  overflow-x: hidden;
}

.logo {
  font-family: "Times New Roman", Sans-serif;
  font-size: 2.25rem;
}

.bg-tgrey {
  background-color: var(--grey);
}

.bg-tblack {
  background-color: var(--black);
}

.form-control:focus {
  border-color: var(--yellow);
  box-shadow: 0 0 0 0.25rem rgb(255 193 7 / 20%);
}

.rem7 {
  font-size: 7rem;
}

@media only screen and (max-width: 768px) {
  .rem7 {
    font-size: 2.5rem;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bodoni Seventytwo ITC';
  margin: 0;
  font-weight: 600;
}

a {
  color: hsl(var(--primary), var(--pl));
  text-decoration: none;
}

a:hover,
a .post-title:hover {
  color: var(--yellow);
}

.dotdec::before {
  position: absolute;
  content: "";
  left: -20px;
  bottom: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--yellow);
}

/* Style Nav */

.navbar-nav .nav-item {
  margin-left: 1rem;
  font-size: 1rem;
}

.navbar-nav .nav-item .nav-link {
  color: var(--black);
  text-transform: uppercase;
  position: relative;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--yellow);
}

.navbar-nav .nav-item .nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background: var(--yellow);
  box-shadow: 5px 5px 14px 0px rgb(255 128 8);
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar-nav .nav-item .nav-link:hover:before {
  transform: scale(1);
}

.navbar-nav .nav-item .nav-link.active {
  color: var(--yellow);
}

.navbar-nav .nav-item .nav-link.active:before {
  transform: scale(1);
}

/* End Style Nav */

.PopupMenu {
  background-color: #151515;
  color: white;
  font-family: 'Bodoni Seventytwo ITC';
}

.PopupMenu a.display-1 {
  font-size: calc(3rem + 4.5vw);
}

.PopupMenu a.display-1:hover {
  font-style: italic;
}

/* Hero section */
.img-hero {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}


.marquee p {
  text-transform: uppercase;
  font-size: 9rem;
  font-weight: normal;
  will-change: transform;
  transform: translateX(0);
  white-space: nowrap;
  animation: marquee 12s linear infinite;
}

/* End Hero section */

.btn-big-round {
  font-family: "Bodoni Seventytwo ITC";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  width: 120px;
  height: 120px;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  fill: #151515;
  color: #151515;
  background-color: var(--yellow);
}

.btn-big-round span {
  transform: rotate(-45deg);
}

.testi-carousel img {
  width: 120px !important;
}

@media only screen and (min-width: 768px) {
  .testi-carousel .item>div {
    margin: 0 10rem;
  }

}


.btn-big-round:hover {
  color: white;
  transform: rotate(45deg);
}

.video-cover {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Footer section */
footer {
  background-color: var(--black);
  color: white;
}

footer .input-group>input,
footer .input-group>button {
  border: none;
  border-radius: 0;
}

/* End Footer section */


/* Cursor */
* {
  /* cursor: none; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--darkgrey);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 9999;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--black);
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 9999;
}

.hover {
  background-color: var(--yellow);
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}

/* End Cursor */

.img-culture {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.text-about {
  position: absolute;
  top: 300px;
  right: 200px;
  transform: rotate(-90deg) scale(3);
}

@media only screen and (max-width: 768px) {
  .text-about {
    position: unset;
    text-align: center;
    transform: rotate(0deg) scale(1);
  }
}

.numbering-dec {
  position: absolute;
  font-style: italic;
  font-weight: bold;
  color: var(--darkgrey);
  top: -50%;
  left: -20%;
  z-index: -1;
  font-size: 10rem;
  opacity: .3;
}

.top-header-fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.project-slide {
  height: 400px;
}

.dots li a:before {
  background: #D6D6D6;
}

.dots li a.active:before {
  background: #869791;
}

.elipsisp {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

@media only screen and (min-height: 768px) {
  .elipsisp {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    height: auto !important;
  }
}

/* Override */

@media only screen and (max-width: 576px) {
  .PopupMenu a.display-1 {
    font-size: calc(3rem + 2vw);
  }

  #section-newera .image {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  #section-about-us .video-cover {
    zoom: 4;
    object-fit: cover;
    height: 100px;
  }

  #section-about-us .video-player {
    height: 350px;
    overflow: hidden;
  }

  .img-culture {
    width: 200px !important;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .offcanvas-header::before, .offcanvas-header div {
    content: '';
    flex-basis: 100%;
  }
}

@media only screen and (min-width: 768px) {
  #section-newera .text {
    margin-left: 25%;
    margin-right: 25%;
  }

  .img-team {
    max-width: none !important;
    height: 45rem !important;
  }
}

.menupop {
  opacity: 1;
}

.offcanvas.show {
  z-index: 999999;
}

.h-80 {
  height: 80% !important;
}

.px-4h5 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.fs-10pt {
  font-size: 10pt !important;
}

.fs-11pt {
  font-size: 11pt !important;
}

.fs-12pt {
  font-size: 12pt !important;
}

.fs-13pt {
  font-size: 13pt !important;
}

.fs-14pt {
  font-size: 14pt !important;
}

.fs-15pt {
  font-size: 15pt !important;
}

.fs-16pt {
  font-size: 16pt !important;
}

.fs-17pt {
  font-size: 17pt !important;
}

.fs-18pt {
  font-size: 18pt !important;
}

.fs-19pt {
  font-size: 19pt !important;
}

.fs-20pt {
  font-size: 20pt !important;
}

.lh-160 {
  line-height: 160%;
}

.text-decoration-underline {
  text-underline-offset: 5px;
}

.img-culture {
  width: auto;
}

.cursor {
  z-index: 9999999;
}

.cursor2 {
  z-index: 9999999;
}

.logo {
  font-family: 'Bodoni Seventytwo ITC';
}

footer .form-control::placeholder {
  color: white;
  /* font-family: 'Bodoni Seventytwo ITC'; */
}

.navbar {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.service-carousel .owl-item .item {
  height: 450px;
}

.service-carousel .img-fluid {
  height: 360px;
  object-fit: cover;
}

.service-carousel .video-cover {
  height: 360px;
}

.service-carousel .owl-item:not(.active) p {
  margin-top: 50px;
}

.service-carousel .owl-item:not(.active) .img-fluid, .service-carousel .owl-item:not(.active) .video-cover {
  height: 220px;
}

#section-contactus .form-control::placeholder {
  color: #B8B8B8;
  font-family: 'Bodoni Seventytwo ITC';
}

.copyright {
  font-size: 10pt;
  color: #B8B8B8;
}

.close-menu {
  font-family: sans-serif;
  font-weight: normal;
}

.close-btn {
  position: absolute;
  right: 32px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:before, .close-btn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}

.close-btn:before {
  transform: rotate(45deg);
}

.close-btn:after {
  transform: rotate(-45deg);
}

.logo {
  color: #1B1B1B
}

.elipsisp {
  height: 180px;
  -webkit-line-clamp: unset;
}

.navbar-nav .nav-item .nav-link::before {
  box-shadow: none;
}

.btn-big-round:hover {
  background-color: #1B1B1B;
  color: white;
  transform: none;
}

@media (min-width: 1200px) {
  #section-culture .display-1 {
      font-size: 7rem;
  }

  #section-ability .display-3 {
    font-size: 6rem;
  }
}

.numbering-dec {
  font-weight: normal;
  left: -15%;
}

#section-culture img.img-fluid.odd, #section-culture video.video-cover.odd {
  width: 500px !important;
  height: 400px !important;
  object-fit: cover;
}

#section-culture img.img-fluid.even, #section-culture video.video-cover.even {
  width: 400px !important;
  height: 500px !important;
  object-fit: cover;
}

#section-future img.img-fluid {
  width: 600px !important;
  /* height: 800px !important; */
  object-fit: cover; 
}

.img-logo {
  filter: brightness(0) invert(1);
}

footer .img-logo {
  margin-top: -35px;
}

.offcanvas-header {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  font-size: 1rem;
}

#section-about-us .about, #section-team .about {
  font-family: 'Helvetica Neue';
}

header .navbar-light .navbar-brand:focus {
  color: transparent;
}

.navbar-brand:focus {
  color: transparent;
  transition: none;
}

.img-team {
  height: auto;
  max-width: 100%;
}

.form-no-focus:focus {
  box-shadow: none !important;
}

.form-no-focus:focus::placeholder {
  color: rgba(var(--bs-white-rgb), 0.5)!important;;
}

#section-projects {
  .img-list-container {
    position: relative;
    width: 100%;
    padding-top: 125%;
  }

  .img-list-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

#project-detail {
  .owl-carousel .owl-item img {
    max-height: 400px;
    width: auto;
  }

  .owl-carousel .owl-item video {
    max-height: 400px;
    width: auto;
  }
}

#news .container {
  max-width: 960px;
}

.wp-block-image .aligncenter, .wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image.aligncenter, .wp-block-image.alignleft, .wp-block-image.alignright {
  display: block !important;
}

.news-thumnail {
  max-width: 800px;
  max-height: 800px;
}

#section-services {
  .desktop .card-body img, .desktop .card-body video {
    object-fit: cover;
    width: 100%;
  }

  .desktop .card-body img.even, .desktop .card-body video.even {
    height: 350px;
  }

  .desktop .card-body img.odd, .desktop .card-body video.odd {
    height: 450px;
  }
}

#section-culture {
  .culture-img {
    height: 800px;
    object-fit: cover;
  }

  @media only screen and (max-width: 768px) {
    .culture-img {
      height: auto;
      object-fit: contain;
    }
  }
}